body {
    background-image: url(./images/JLA_Avengers_Hero_Cv_copy.0.jpg);
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  font-family: Bangers, cursive;
}

.box {
    vertical-align: top;
    text-align: center;
}

body {
    background-color: red;
    height: 100vh;
}

.columns {
    box-sizing: content-box;
    background-color: yellow;
}

.landscape {
    max-width: 100%;
    max-height: 100%;
}

.card {
    background-color: #fff;
    border-radius: 0.50rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
}

